<!doctype html>
<html ng-app="firebaseangularapp">
  <head>
	<script type="text/javascript" src="lib/jquery.js"></script>
	<script type="text/javascript" src="lib/angular.js"></script>
	<script type="text/javascript" src="lib/angular-route.js"></script>
    <script type="text/javascript" src="lib/firebase.js"></script>
    <script type="text/javascript" src="lib/firebasesimplelogin.js"></script>
    <script type="text/javascript" src="lib/angularfire.js"></script>
	<script type="text/javascript" src="firebaseangularapp.js"></script>
	<script type="text/javascript" src="lib/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/css/bootstrap-theme.min.css">
  </head>
  <body onload="firebaseangularmain.initialize()" ng-controller="LoginCtrl">
    <div id="login" ng-if="!logged">
        <div class="logintitle">
            <div class="h1">Firebase Angular App</div>
            <svg width="300" height="300" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <circle id="circleblue" r="180"  cy="50" cx="50" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="#000000"/>
                </g>
            </svg>
        </div>
        <div class="logincontainer">
            <div class="loginerror">
                <div ng-show="error != null" class="alert alert-danger alert-dismissable">
                    <strong>Error!</strong> {{error.message}}
                </div>
            </div>
            <form class="form-horizontal" role="form">
                <div ng-class="emailFieldClasses">
                    <label for="labelLoginEmail" class="col-sm-2 control-label">Email address</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputLoginEmail" placeholder="Enter email" ng-model="useremail">
                    </div>
                </div>
                <div ng-class="passwordFieldClasses">
                    <label for="labelLoginPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputLoginPassword" placeholder="Password" ng-model="userpassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default btn-lg" ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
	<div id="output" ng-if="logged">
		<header id="headercontainer">
			<div class="left-header">
				<span class="app-logo">&nbsp;</span>
				<div class="app-title"><h1>Firebase Angular App</h1></div>
			</div>
            <div ng-repeat="user in users">
                <span>{{user.name}}</span><span>{{user.age}}</span>
            </div>
			<span class="glyphicon glyphicon-log-out btn-lg tool-icon" ng-click="logout()"></span>
		</header>
        <div id="main" class="maincontainer" ng-controller="MainCtrl">
            <div id="maincontent" class="content">
                <p>{{title}}</p>
                <p>{{text}}</p>
                <p>{{welcome}} {{user.email}}</p>
            </div>
        </div>
        <script type="text/javascript">firebaseangularmain.initialize()</script>
	</div>
  </body>
</html>